{namespace v = FluidTYPO3\Vhs\ViewHelpers}

<div class="row">
    <div class="{data.flexform_width_column_md_1} {data.flexform_offset_column_md_1} {data.flexform_width_column_xs_1} {data.flexform_offset_column_xs_1} {data.flexform_width_column_sm_1} {data.flexform_offset_column_sm_1} {data.flexform_width_column_lg_1} {data.flexform_offset_column_lg_1} {data.flexform_width_column_xl_1} {data.flexform_offset_column_xl_1}">  
    	<f:if condition="{data.tx_gridelements_view_children.0.layout} test">
    		<f:then>
    		<div class="alert-box">
    	    	<f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>                
    	    </div>	
    	    </f:then>
    	    <f:else>
    	    	<f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>                
    	    </f:else>
    	</f:if>    
        
    </div>
    
    <div class="{data.flexform_width_column_md_2} {data.flexform_offset_column_md_2} {data.flexform_width_column_xs_2} {data.flexform_offset_column_xs_2} {data.flexform_width_column_sm_2} {data.flexform_offset_column_sm_2} {data.flexform_width_column_lg_2} {data.flexform_offset_column_lg_2} {data.flexform_width_column_xl_2} {data.flexform_offset_column_xl_2}">                
        <f:if condition="{data.tx_gridelements_view_children.1.layout}">
        	<f:then>
	    		<div class="alert-box">
	    	    	<f:format.raw>{data.tx_gridelements_view_column_2}</f:format.raw>                
	    	    </div>	
	    	</f:then> 
	    	<f:else>
    	    	<f:format.raw>{data.tx_gridelements_view_column_2}</f:format.raw>                
    	    </f:else>   
    	</f:if>    
    </div>
</div> 

     

