<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:form.textfield property="email" type="email" class="tm-email-input" placeholder="Email" required="true" /><br />
</html>