<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-rv-custom" >
	<tr>
		<td>
			<f:translate key="tx_rvcustom_domain_model_emails.email" />
		</td>
		<td>
		{emails.email}
		</td>
	</tr>
</table>
</html>
