<!-- Footer -->
<footer class="row">
  <p class="col-12 text-white text-center tm-copyright-text">
    {settings.rv_custom.copyright} &copy; {settings.rv_custom.footertext}<a href="{settings.rv_custom.footersitelink}" class="tm-copyright-link">{settings.rv_custom.footersitetext}</a>
  </p>		
</footer>