<!-- Navigation -->
<div class="row tm-brand-row">
    <div class="col-lg-4 col-11">
        <div class="tm-brand-container tm-bg-white-transparent">
            <i class="fas fa-2x fa-pen tm-brand-icon"></i>
            <div class="tm-brand-texts">
                <f:if condition="{settings.rv_custom.sitetext}">
                    <h1 class="text-uppercase tm-brand-name">{settings.rv_custom.sitetext}</h1>
                </f:if>
                <f:if condition="{settings.rv_custom.sitesmalltext}">    
                    <p class="small">{settings.rv_custom.sitesmalltext}</p>
                </f:if>    
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-1">
        <div class="tm-nav">
          <nav class="navbar navbar-expand-lg navbar-light tm-bg-white-transparent tm-navbar">
            <button class="navbar-toggler" type="button"
              data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <f:render section="MainMenu" arguments="{_all}" />
            </div>
          </nav>
        </div>
    </div>
</div>
<!-- MAIN MENU -->
<f:section name="MainMenu">
    <f:if condition="{MainMenu}">
        <ul class="navbar-nav">
            <f:for each="{MainMenu}" as="item">
                <!-- FOR SHORTCUT PAGE -->
                <f:if condition="{data.uid} == {item.data.shortcut}">
                    <f:then>
                        <li class="nav-item active">
                            <div class="tm-nav-link-highlight"></div>
                            <a class="nav-link" href="{item.link}">{item.title} <span class="sr-only">(current)</span></a>
                        </li>    
                    </f:then>
                    <f:else>
                        <li class="nav-item {f:if(condition:item.active, then: 'green-highlight active')}">
                            <f:if condition="{item.active}">
                                <div class="tm-nav-link-highlight"></div>
                            </f:if>
                            <a class="nav-link" href="{item.link}">{item.title} {f:if(condition:item.active, then: '<span class="sr-only">(current)</span>')}
                            </a>
                        </li>
                    </f:else>    
                </f:if>
            </f:for>
        </ul>    
    </f:if>
</f:section>