<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Email" />
<f:section name="content">
    <h2>Thank you!!</h2>
    <h3>We will get back to you soon.</h3>
</f:section>
</html>
