<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Email" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <f:flashMessages />

    <f:render partial="FormErrors" />

    <f:form action="create"  name="newEmails" object="{newEmails}" class="tm-call-to-action-form">
    <f:render partial="Emails/FormFields" />
    <f:form.submit value="Get Updates" class="btn btn-secondary"/>
    </f:form>
</f:section>
</html>
