<f:layout name="Content" />

<f:section name="main">

	<!-- Page Heading/Breadcrumbs -->
	<h1 class="mt-4 mb-3">{data.title}</h1>

	<!-- Breadcrumb -->
	<f:cObject typoscriptObjectPath="lib.breadcrumb"/>

	<!-- Render main content colpost=0 -->
	<f:cObject typoscriptObjectPath="lib.content"/>

	<p>&nbsp;</p>

</f:section>
