{namespace v = FluidTYPO3\Vhs\ViewHelpers}

<section class="row" id="tmCallToAction">
    <div class="col-12 tm-call-to-action-col">
    	<f:if condition="{data.tx_gridelements_view_column_1}">
            <div class="img-fluid tm-call-to-action-image">
        	   <f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
            </div>   
        </f:if>	
        <f:if condition="{data.tx_gridelements_view_column_2}">
	        <div class="tm-bg-white tm-call-to-action-text">
	            <f:format.raw>{data.tx_gridelements_view_column_2}</f:format.raw>
	        </div>
	    </f:if>    
    </div>
</section>