{namespace v = FluidTYPO3\Vhs\ViewHelpers}

<!-- Header -->
<f:render partial="Header" arguments="{_all}"/>

<div class="container">
	<!--TYPO3SEARCH_begin-->
	<f:render section="main" />
	<!--TYPO3SEARCH_end-->
</div>

<!-- Footer -->
<f:render partial="Footer" />
