{namespace v = FluidTYPO3\Vhs\ViewHelpers}
<div class="parallax-window" data-parallax="scroll" data-image-src="{settings.rv_custom.bgimage}">
	<div class="container-fluid">
		<!-- Header -->
		<f:render partial="Header" arguments="{_all}" />
			
		<!--TYPO3SEARCH_begin-->
		<f:render section="main" />
		<!--TYPO3SEARCH_end-->
		<!-- Footer -->
		<f:render partial="Footer" arguments="{_all}" />
	</div>
</div>		